@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 10%;
  padding: 2rem;
  font-weight: normal;
}

a, b,
.blue {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  padding: 3px;
}

.textblock {
  width:80%; 
  padding: 5%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0% 2rem;
  }
}
